$button: #4b5320;

.button {
  background-color: $button;
  border-color: $button;
  border-radius: 16px;
}

.button:hover {
  background-color: $button;
  border-color: $button;
  transform: scale(1.02);
}

Form {
  margin: 20px;
}

.login-title {
  color: #4b5320;
  text-align: center;
  margin-top: 70px;
}

.login-card {
  border-radius: 16px !important;
}

.main-view {
  justify-content: center;
}
