$button: #4b5320;

.button {
  background-color: $button;
  border-color: $button;
}

.button:hover {
  background-color: $button;
  border-color: $button;
  transform: scale(1.02);
}

.card {
  margin: auto;
  margin-top: 70px;
  box-shadow: 0 0 10px $button;
  border-color: $button;
}

.movie-card {
  margin-right: 30px;
}