$button: #4b5320;

.button {
  background-color: $button;
  border-color: $button;
}

.button:hover,
.button:active {
  background-color: $button !important;
  border-color: $button;
  transform: scale(1.02);
}

.cardMovieView {
  margin: auto;
  margin-top: 70px;
  flex-direction: row;
}