$button: #4b5320;

.navbar {
  background-color: $button !important;
}

.icon {
  margin-right: 10px;
}

.main-view {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}